<section class="business">
  <div class="container business-grid">

    <!-- LEFT CONTENT -->
    <div class="content">
      <h2>{{ 'business.evFleetSolutions' | translate }}</h2>

      <p>
        {{ 'business.evFleetDescription' | translate }}
      </p>

      <div class="benefits">
        <div class="item" *ngFor="let b of benefits">

          <div class="icon">
            <lucide-icon *ngIf="b.icon === 'truck'" size="22" name="truck"></lucide-icon>
<lucide-icon *ngIf="b.icon === 'profit'" size="22" name="trending-up"></lucide-icon>
<lucide-icon *ngIf="b.icon === 'secure'" size="22" name="shield-check"></lucide-icon>
          </div>

          <div>
            <h4>{{ b.title }}</h4>
            <p>{{ b.desc }}</p>
          </div>

        </div>
      </div>

      <button class="btn-primary">{{ 'business.contactForFleetDeals' | translate }}</button>
    </div>

    <!-- RIGHT VISUAL -->
    <div class="image">
      <img src="assets/business-ev.webp" alt="{{ 'business.businessEvFleetAlt' | translate }}" />
    </div>

  </div>
</section>